@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

.drop {
    background-color: rgba(0, 173, 181, 0.9);
    transition: .5s;
}

.drop #btn{
    background-color: rgba(30, 42, 58, 1);
}

.drop #btn:hover{
    transform: scale(1.1);
    transition: .3s;
}

.active{
    color: rgb(30, 42, 58);
}

nav a:hover{
    color: rgb(30, 42, 58);
}




